images/
images*/
training_plots/
training_plots*/
.DS_Store
best_horizon_model.pth
training_results.png
__pycache__/
checkpoints/
checkpoints*/
runs/
metadata*.csv
hlw_2_2.zip
hlw/
wandb/
augmentation_checks/
